body{
  margin: 0;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  background-color: #d0f1c2;
}
h1{

  margin-top: 0;
  font-size: 50px;
}
.grid-2{
 top:90vh;
}
.grid-3{
top:170vh;
}
p{

  color: #16697a;
}
h2{
  font-size: 33px;
  color: #00917c;
}
h3{
  font-size: 28px;
}
hr{
  border: dotted 6px;
  border-bottom: none;
  width: 5%;
}
a{
  margin:0px 20px;
  font-size: 19px;
  text-decoration:none;
  color: #00917c;
}
a:hover {
  color: white;
}
.top{

  background-color: #a6a9b6;
  height: auto;
  width: 100%;
  padding-top: 100px;
  position: relative;
}
.head
{
  margin-top: 30px;
}
.uo
{
  margin-top: 20px;
}
.Cloudtop{
  position: absolute;
  margin-right: 10px;
  margin-left: 180px;
  margin-top: 0px;
  top: 20px;
}
.Cloudbottom{
  position: absolute;
  margin-left: 50px;
}
.uu{
  margin: 50px auto;
}
.skills{
  width: 50%;
  margin: 100px auto ;

}
.skill-img-1{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row1{
  text-align: left;
  margin: 100px auto 200px;

}
.skill-img-2{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.skill-row2{
  text-align: left;
  margin: 100px auto 200px;

}
.middle-container
{
  margin: 100px auto 50px;
}
.profile{
  margin: 50px auto;
}
.intro{
  width: 25%;
  margin: 0px auto;

}
.bottom-container
{
  background-color: #a6a9b6;
  height:60px;
  padding: 50px;
}
.btn {
  background:    #383e56;
border-radius: 9px;
padding:       15px 30px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 18px/1 "Open Sans", sans-serif;
text-align:    center;
}

.btn:hover {
  background: #15d798;
}
.contact-me{
  margin: 50px auto;
}
.footer-para
{
  font-size: 15px;
  margin:50px auto;
}
.uu{
  width:210px;
}
button{
  border-color:#1e6f5c;
  color:#1e6f5c;
}
h4{
  font-size: 2.7vmin;
      margin-block-start:0.5em;
      margin-block-end:0.5em;
}
button:hover{
  background-color: #1e6f5c;
  color:white;
  border-width: 7px;
  border-style: solid;
}
@media only screen and (max-device-width:1024px){
  .grid-2{
    top:51vh;

  }
  .grid-3{
    top:92vh;
  }
}
